<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmate.sdk.scanner">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application>
        <service android:name=".bluetooth.OutgoingService" />
        <service android:name=".bluetooth.IncomingService" />
    </application>
</manifest>
