<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.augmate.sdk.scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <activity
        android:immersive="true"
        android:name=".PairActivity"
        android:label="Configure Scanner">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
        </intent-filter>

        <meta-data
            android:name="com.google.android.glass.VoiceTrigger"
            android:resource="@xml/voice_trigger_pairing" />

    </activity>
    <activity android:name=".ConfigReadingActivity" />

    <activity android:name=".DeviceBondingActivity" />

    <application>
        <service android:name=".bluetooth.OutgoingService" />
        <service android:name=".bluetooth.IncomingService" />
    </application>
</manifest>
